{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}

{{ set(this, 'title', blogInfo.title) }}

{% set limit = 20 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set profileImg = false %}
{% if blogInfo.owner['media'] is defined and blogInfo.owner['media'] | length > 0 %}
    {% set profileImg = _Media.getMediaUrl(blogInfo.owner['media'], 100, 100, {radius:'max', crop: 'thumb', gravity: 'face'}) %}
{% endif %}

{% set hasBlogImage = FALSE %}
{% set blogImage = "" %}
{% if blogInfo.media['cover']['path'] is not empty %}
    {% set blogImage = blogInfo.media['cover']['path'] %}
    {% set hasBlogImage = TRUE %}
{% endif %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{{ this.registerJs("CardController();") }}
{{ this.registerJs("HomeController.listing();") }}
{{ this.registerJs("HomeController.blog();") }}


{% set blogImage = blogInfo['media']['cover']['path'] %}
{% if blogImage is not empty %}
    <div class="hero-banner-blog">
        <figure class="{{ figureClass }}">
            <picture>
                <img class="img-responsive" data-object-fit="cover" src="{{ blogImage }}"
                     data-original="{{ blogImage }}">
            </picture>
        </figure>
        <div class="content">
            <div class="innerContent">
                <h1>{{ blogInfo.title }}</h1>
                <div class="description">
                    {{ blogInfo.shortDescription | raw }}
                </div>
                <p>
                    {% if not _User.isGuest %}
                        {% set isUserFollowingBlog = _User.isUserFollowing('user', blogInfo.owner.id) %}
                        {% if isUserFollowingBlog %}
                            <a href="#" class="btn btnFollowUser" data-guid="{{ blogInfo.owner.guid }}"
                               data-status="unfollow">FOLLOWING
                                -</a>
                        {% else %}
                            <a href="#" class="btn btnFollowUser" data-guid="{{ blogInfo.owner.guid }}"
                               data-status="follow">FOLLOW
                                +</a>
                        {% endif %}
                    {% else %}
                        <a href="#" class="btn btnFollowUser">FOLLOW +</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

{% endif %}

<div class="content-block container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
            <div class="row">
                <!--article blocks -->

                {% if articles[articleCount] %}
                    {% set articleView = [
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    ] %}
                    {% for key, value in articleView if articles[key] %}
                        {% if articles[articleCount] %}
                            {{ this.render('partials/_single-article.twig', {
                                article: articles[articleCount],
                                position: articleCount + 1,
                                containerClass: 'testing ' ~ value,
                                dataObjectFit: 'cover'
                            }) | raw }}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div><!--row-->
        </div><!--col-sm-9-->
    </div><!--row-->
</div>