{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}




{{ this.registerJs("CardController();") }}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

<main id="main" class="channel_container channel-main" role="main">
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>National</h2>
                </div>

                {% if articles[articleCount] %}
                    {{ this.render('partials/_single-article.twig', {
                        article: articles[articleCount],
                        position: (articleCount+1),
                        imageSize: {width: 640, height: 309},
                        containerClass: 'card5-desktop card5-mobile'
                    }) | raw }}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            </div>
        </section>

        <section class="row">

            <div class="col-md-8">
                {% for i in 0..7 if articles[articleCount] %}
                    {{ this.render('partials/_single-article.twig', {
                        article: articles[articleCount],
                        position: (articleCount+1),
                        imageSize: {width: 200, height: 140},
                        containerClass: 'card2-desktop card2-mobile'
                    }) | raw }}
                    {% set articleCount = articleCount + 1 %}
                {% endfor %}

            </div>


            <div class="col-md-4">

                <div class="advert">
                </div>
                <div class="col-sidebar">
                    {% for i in 0..3 if articles[articleCount] %}
                        {{ this.render('partials/_single-article.twig', {
                            article: articles[articleCount],
                            position: (articleCount+1),
                            imageSize: {width: 200, height: 140},
                            containerClass: 'card4-desktop card4-mobile'
                        }) | raw }}
                        {% set articleCount = articleCount + 1 %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main><!-- .site-main -->