{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{ this.registerJs("CardController();") }}

{% set debugAllACards = false %}
{% set debugArray = 0..13 %}
{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 1 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


<main id="main" class="site-main site-index" role="main">
    <div class="hero-banner">
        {% if articles[articleCount] %}
            {{ this.render('partials/_single-article.twig', {
                article: articles[articleCount],
                position: articleCount + 1,
                imageSize: {width:1800, height:900},
                containerClass: 'card1-desktop card1-tablet card1-mobile home-feature',
                dataObjectFit: 'cover'
            }) | raw }}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        {% endif %}
    </div>
    {% if debugAllACards %}
        {% for t in 1..1 %}
            <h1>Debug Card: {{ t }}</h1>
            {% for i in debugArray if articles[i] %}
                <h2>Debug Card: {{ t }}: {{ i }}</h2>
                {{ this.render('partials/_single-article.twig', {
                    article: articles[i],
                    position: articleCount + 1,
                    containerClass: 'home-feature card' ~ t ~ '-desktop card' ~ t ~ '-tablet card' ~ t ~ '-mobile',
                    dataObjectFit: 'cover'
                }) | raw }}
            {% endfor %}
        {% endfor %}

        <div class="container-fluid">
            <div class="col-xs-12 col-sm-8">
                {% for t in 2..3 %}
                    <h1>Debug Card: {{ t }}</h1>
                    <div class="row">
                        {% for i in debugArray if articles[i] %}
                            {{ this.render('partials/_single-article.twig', {
                                article: articles[i],
                                position: articleCount + 1,
                                containerClass: 'card' ~ t ~ '-desktop card' ~ t ~ '-tablet card' ~ t ~ '-mobile',
                                dataObjectFit: 'cover'
                            }) | raw }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="col-sidebar">
                    {% for t in 4..4 %}
                        <h1>Debug Card: {{ t }}</h1>
                        <div class="row">
                            {% for i in debugArray if articles[i] %}
                                {{ this.render('partials/_single-article.twig', {
                                    article: articles[i],
                                    position: articleCount + 1,
                                    containerClass: 'card' ~ t ~ '-desktop card' ~ t ~ '-tablet card' ~ t ~ '-mobile',
                                    dataObjectFit: 'cover'
                                }) | raw }}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12">
                {% for t in 5..5 %}
                    <h1>Debug Card: {{ t }}</h1>
                    <div class="row">
                        {% for i in debugArray if articles[i] %}
                            {{ this.render('partials/_single-article.twig', {
                                article: articles[i],
                                position: articleCount + 1,
                                containerClass: 'card' ~ t ~ '-desktop card' ~ t ~ '-tablet card' ~ t ~ '-mobile',
                                dataObjectFit: 'cover'
                            }) | raw }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="infoBar">
                    <ul class="menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Social</a></li>

                    </ul>
                </div>
                <div class="infoBar">
                    <p>Dayofweek, 01 August</p>
                </div>
                {% if articles[articleCount] %}
                    {% set articleView = [
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card3-desktop card3-mobile',
                    'card2-desktop card2-mobile',
                    'card2-desktop card2-mobile',
                    ] %}
                    {% for key, value in articleView if articles[key] %}
                        {{ this.render('partials/_single-article.twig', {
                            article: articles[articleCount],
                            position: articleCount + 1,
                            containerClass: 'testing ' ~ value,
                            dataObjectFit: 'cover'
                        }) | raw }}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="col-sidebar">
                    <div class="sponsor">
                        <figure>
                        </figure>
                    </div>
                    <h2>Most Popular Stories</h2>
                    {% if articles[articleCount] %}
                        {% set articleView = [
                        'card4-desktop card4-mobile',
                        'card4-desktop card4-mobile',
                        'card4-desktop card4-mobile',
                        'card4-desktop card4-mobile',
                        'card4-desktop card4-mobile',
                        'card4-desktop card4-mobile'
                        ] %}
                        {% for key, value in articleView if articles[key] %}
                            {{ this.render('partials/_single-article.twig', {
                                article: articles[articleCount],
                                position: articleCount + 1,
                                containerClass: 'testing ' ~ value,
                                dataObjectFit: 'cover'
                            }) | raw }}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main><!-- .site-main -->