{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


{{this.registerJs("CardController();")}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section class="home-main-stories">
                <div class="row">
                    <div class="col-sm-9 col-md-6">
                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:630, height:400},
                                containerClass: 'home-feature'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>


                    {% if articles[articleCount] %}
                    <div class="cold-sm-9 col-md-3">
                        {% for i in 0..2 if articles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                containerClass: 'feature-side'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div><!-- .row-->
                    {% endif %}

                </div>
            </section><!-- .featured-slider-->






            <section class="row five-cols top-stories-row">
                
                {% for i in 0..4 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: 1, 
                        imageSize: {width:500},
                        containerClass: 'col-sm-1 top-stories'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </section>











            <section class="middle">
                <div class="row">
                    <div class="col-md-2 most-popular">
                        <h2>Most popular</h2>
                        {# no need for position and no use of article count 
                           as these cards won't be moved and will come from another feed #}
                        {% for i in 0..4 if articles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[i], 
                                imageSuppress: true, 
                                containerClass: 'card-popular'
                            }) | raw}}
                        {% endfor %}

                    </div>

                    <div class="col-md-2">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:190},
                                containerClass: 'card-sm'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>


                    <div class="col-md-2">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:190},
                                containerClass: 'card-sm'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>


                    <div class="col-md-3">
                        <div class="ad-square"></div>
                    </div>
                </div>
                    

                <div class="row">
                    <div class="col-md-3">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-sm-wide'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>


                    <div class="col-md-3">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-sm-wide'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}


                    </div>
                    <div class="col-md-3">
                        {% for i in 0..1 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:95},
                                containerClass: 'card-xs'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            
                            {% if i == 0 %}
                                <hr class="divide">
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

            </section>







            <section class="advert" style="background:gray;height:200px;">
            </section>

        </div>



    </main><!-- .site-main -->