{% set logo = networkData.templatePath~'/static/images/logo.svg' %}
{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, 290, 80, {'crop': 'fit'} ) %}
{% endif %}

<header id="masthead" class="site-header">
    <div id="mainHeader" class="site-header-main header__navigation">
        <div class="header-top">
            <div class="row">
                <div class="col-xs-12">
                    <p>00 Month 2017 - 00 Month 2020</p>
                    <h1>{{ networkData.title }}</h1>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container-full">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="navbar-brand"
                           href="{{ networkData.defaultBlogUrl }}"
                           rel="Home"
                           tabindex="-1"
                           title="Home"
                           style="background-image:url({{ logo }})">
                        </a>
                        <nav class="primaryNav">
                            <div class="menuContainer">
                                <ul id="menuPrimaryMenu" class="menu">
                                    <li class="filler"></li>
                                    {% set menuItems = blog.blogHeaderMenu %}
                                    {% for parentItem in menuItems %}

                                        {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : '' %}
                                        {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                        <li>
                                            <a href="{{ parentItem.link |raw }}"
                                               class="{{ activeClass }} {{ externalClass }}"
                                               {% if parentItem.target != "" %}target="{{ parentItem.target }}"{% endif %}>
                                                {% if parentItem.label != "" %}
                                                    {{ parentItem.label }}
                                                {% elseif parentItem.blogTitle != "" %}
                                                    {{ parentItem.blogTitle }}
                                                {% elseif parentItem.pageTitle != "" %}
                                                    {{ parentItem.pageTitle }}
                                                {% endif %}
                                                {% if parentItem.children is defined and parentItem.children | length > 0 %}
                                                    <span class="down-arrow"></span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="filler"></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div><!-- .container-->
        </div><!-- .header top-->
    </div><!-- .site-header-main -->
</header>


